<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="DEV_HOME" value="home/logs"/>
    <!--    <property name="DEV_HOME" value="/var/log/tomcat8"/>-->
    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/debug.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dda HH:mm:ss} - %msg%n</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DEV_HOME}/archived/log.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <!-- Info: Data & Time = "%d{yyyy-MM-dda HH:mm:ss}", levels = "%-5level",Package
        name = "%logger{36}", Messages = "%msg%n" -->
    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--<Pattern>%d{yyyy-MM-dda HH:mm:ss} | %-5level | %msg%n</Pattern> -->
            <Pattern>%black(%d{yyyy-MM-dda HH:mm:ss}) | %highlight(%-5level) | %green(${PID}) %red(---) %green([%12.12thread]) %yellow(%-40.40logger{40}) %red(:) %msg%n
            </Pattern>
        </encoder>
    </appender>

    <logger name="com.bug.tracker" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.springframework" level="debug"
            additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.hibernate.SQL" level="debug"
            additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="org.hibernate.type.descriptor.sql.BasicBinder"
            level="trace" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

    <root level="error">
        <appender-ref ref="FILE"/>
    </root>

</configuration>